main .main-img{
    width: 100%;
    height: 370px;
    background-image: url("../img/restaurant-food.jpg");
    background-size: cover;
    background-position: top;
    opacity: 0.8;
}

.main-img h1 {
    font-family: Kenia;
}

.main-img a {
    font-family: Kranky;
}

main h1{
    color: #000;
    left: 42px;
    font-size: 50px;
    position: absolute;
    bottom: 400px;
}

main a{
    background: #A9A1A1;
    width: 350px;
    height: 40px;
    text-decoration: none;
    font-size: 50px;
    color: #ffffff;
    background-color: #000000;
    padding: 10px 20px;
    left: 100px;
    position: absolute;
    bottom: 300px;
    text-align: center;
    line-height: 50px;
} 


main a:hover{
    background-color: var(--main-background);
}


.menu{
    width: 100%;
    margin: 40px 0;
    padding: 0 20px;
}

.menu h2{
    margin: var(--main-element-margin-zero);
    text-align: center;
    font-size: 60px;
}

.menu-container{
    display: flex;
    justify-content: space-around;
}

.menu-container h4{
    text-align: center;
    font-size: 30px;
}

.menu-container div{
    width: 33%;

}

.meal{
    display: flex;
    margin-bottom: 41px;
}

.meal img{
    width: 60px;
    height: 60px; 
    margin-right: 20px;
}

.meal span{
    font-size: 24px;    
    line-height: 60px;
}
